<div class="jumbotron container">
    <h2>ABOUT US </h2>
    <p style="font-size: 15px; margin-left: 5%; margin-right:5%">
 Meeting people who have shared interests
 Hearing new music
 Listening to new bands
 Getting to see your favorite artist in person
 Songs are performed differently in concert than they are recorded
 Getting to interact with your favorite artists between songs
 If you’re lucky enough, you might even get to meet the band Music doesn't get in. Music is already in. Music simply uncovers what is there, makes you feel emotions that you didn't necessarily know you had inside you, and runs around waking them all up. A rebirth of sorts. </p>

 <div class="sadd" align=center style="margin-top:3%; margin-bottom:3%; font-family: 'Italianno', cursive; font-size:40px">
     
        “Music shouldn't be just a tune, it should be a touch.”
 </div >
 <h2>CONTACT US </h2>
 <h3 style="margin-left:5%; line-height: 5%;">
     email: support.concert@gmail.com 
    
 </h3> <br> 
 <h3 style="margin-left:5%; line-height: 5%;">
    phone: +91 9848232919
   
</h3>

</div>

