@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

#carouselExampleIndicators{
    opacity: 0.7;
    border:2px solid #e36054;
    z-index:0;
}
.terms .row .col-sm-4{
    padding:2%;
}
.card{
    padding:2%;
    border:1px solid #e36054;
    background: linear-gradient(45deg,#2d2833,#202333);
    border-radius: 0;
    opacity: 0.8;
}
.card:hover{
    transition: 300ms;
    box-shadow: 0 0 8px 8px black;
}

.card-group-item{
    font-size:13px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}
.card-title{
    font-size:17px;
    font-family: 'Oswald', sans-serif;
    
}
.form-check-label{
    padding-left:5%;
    font-weight: 400;
}
.title{
    font-size: 15px;
}
.terms{
    margin-top:3%;
    margin-left:5%;
    width:80%;
    background-color: #2d2833;
    border:1.5px solid #e63b2c;
    border-radius: 0;
}
.card img{
    height: 250px;
}
a{
    text-decoration: none;
    color:white;
    font-family: 'Nova Flat';
    font-size: 25px;
    cursor: pointer;
}
.btn{
    border-radius:0;
    border:0;
    background: linear-gradient(45deg,#e36054,#e63b2c) ; 
    font-size: 20px;
    
}
.btn:focus{
    box-shadow: 0 0 2px 4px rgba(0,0,0,0.2);
    border-width: 0;
    border:none;
}
.btn:hover{
    background: linear-gradient(45deg,#db7c73,#e36054)  ;
}

.form-control{
    border-radius:0;
    border:1px solid #e63b2c;
}