.btn{
    border-radius:0;
    border:0;
    font-size: 15px;  
    margin-left:2%;
    margin-right:2%;
    
    width:20%;
    padding:5%;
}

.btn-custom{
    
    border:0;
    box-shadow: 0;
}
.btn:hover{
    background: linear-gradient(45deg,#db7c73,#e36054)  ;
}
